*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
 

.navbar {
  overflow: hidden;
 /* color:gray; */
 margin: 10px 20px;
 font-size: 0.9rem;
 display: flex;
 justify-content: space-between;
 
 
}

.search{
  
  padding:10px 20px ;
}



.button{
  padding: 5px;
}

.button button{
  padding: 10px;
 border-radius: 5px;
 
 background-color: white;
 color: black;
 font-weight: 550;
 border: none;
 border: 1px solid #fff;
 box-shadow: 0 1px 3px rgba(3,0,71,.09)!important;
 font-size:0.9rem
 

}



input{
  padding: 5px;
}

.left_container{
  position: absolute;
  display: flex;
  align-items: center;
  float: left;
}

ul{
  display: flex;
  list-style: none;
}



.dropdown_dir{
  margin: 10px 20px;
  
}

.right_container{
  display: inline;
}

.dropdown_dir{
  position: relative;
  display: inline-block;
}

.dropdown_content{
  display: none;
  position: absolute;
  margin: 10px 0;
  padding: 10px;
  background-color: white;

}

.dropdown_dir:hover .dropdown_content{
  display: block;
  
}

.dropdown_dir:hover{
  color: rgb(117, 79, 254);

}

.dropdown_content li{
  font-weight: 500;
  color: black;
  margin: 5px 20px;
  word-break: keep-all;
}

.line{
  border: 1px solid grey;
  margin: 20px 0;
}
  

  .elements{
    float: left;
    
    width: 30vw;
    margin-left: 180px;
    margin-top: 50px;
    word-break: break-word;
  }
  .buttons .browse{
    margin: 15px 0.5px;
    padding: 10px 15px;
    left: 50%;
    background-color:rgb(25, 203, 152);
    border-radius: 5px;
    color: rgb(255, 255, 255);

  }
  .buttons .question{
    
      margin: 15px 2px;
      padding: 10px;
      left: 50%;
      border-radius: 5px;
      
  
    
  }
  .para{
    word-break: break-word;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter sans-serif';
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
  }
  .heading-content{
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: start;
    
  }

  .heading-content h1{
    font-weight: 700;
  }
  .first-section{
    background-color: rgb(117, 79, 254);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .second_section{
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center; */

    width: 100%;
    border: 2px solid #ccc;
  }

  .items_container{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
    
    /* align-items: center;
    justify-content: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-left: auto;
    margin-right: auto;
    
    
  
    
  }

  .first,.second,.third{
    display: flex;
    margin: 10px;
    /* margin: -90px auto; */
    margin: 10px 0px;
    padding: 20px;
  }

  .text_content h4{
    font-size: 16px;
    font-weight: 600;
    margin: 5px;

  }

  .text_content p{
    color: rgb(92, 87, 118);
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    word-break: break-word;
    width: 90%;
    padding-left: 8px;
  }
  
  .image_icon{
    float: left;
    margin: 1px 1px;
    background-color: rgb(255, 238, 218);
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    color:rgb(194, 129, 53);
  }
  
  .image{
    display: flex;
    align-items: center;
  }

  .card_section{
    
    padding-top:80px ;
    padding-left: 100px;
    padding-right: 10px;
  }

  .cards{
    display: flex;
  }


